* {
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    font-weight: 400;
    font-family: sans-serif;
    /* background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #f64f59, #c471ed, #060808); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    
  }
  
  body, html, .App, #root, .outer {
    width: 100%;
    height: 100%;
  }

  form{
      color: rgb(0, 0, 0);
  }

  form h3 {
    text-align: center;
  }

  .container1{
      width: 350px !important;
      position: fixed;
      padding: 15px;
      top: 50%;
      left: 50%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
      background: rgba(255,255,255,.5);
      border-radius: 25px;
      -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
     }
  
  
  .custom-control-label {
    font-weight: 400;
  }
  
  .forgot-password,
  .forgot-password a {
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #000000;
    margin: 0;
  }
  
  .forgot-password a {
    color: #f5f5f5;
  }